body{
	text-align: center;
	background-image: url('../images/background.jpg');
	color: blue;
}
.crop{
	width: 300px !important;
	height: 300px !important;
	overflow: hidden !important;
	margin: 0 auto;
}